<html>
<head>
    <title>RIAL-3-2021-4</title>
    <link rel = "stylesheet" href = "/static/style.css" />
    <meta charset="UTF = 8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <a href = "http://1.tcp.ap.ngrok.io:21694/LAB%20VIEW" target = "_blank">
        <button class="button circle btn1">Laboratory View</button>
    </a>
    <a href = "http://1.tcp.ap.ngrok.io:21694/ARM%20VIEW" target = "_blank">
        <button class="button circle">Arm View</button>
    </a>
   
</body>

</html>