<!DOCTYPE html>
<html style="background-color:#113C61">
<frameset  rows = "10%,*,25%,12%,13%" frameborder="0">
    <frame src="http://0.tcp.ap.ngrok.io:16311/HEADER">
    <frameset cols="10%,*,*" frameborder="0" >
        <frame>
        <frame src="http://0.tcp.ap.ngrok.io:16311/ARM%20VIEW">
        <frame src="http://0.tcp.ap.ngrok.io:16311/LAB%20VIEW">
    </frameset>
    <frame src="http://0.tcp.ap.ngrok.io:16311/CONSOLE">
    <frame src="http://0.tcp.ap.ngrok.io:16311/NEWCLICK">
    <frame src="http://0.tcp.ap.ngrok.io:16311/ROLL">

</html>