<html>
  <head>
    <script src="https:///cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  </head>
  <body>
    <form id="form">
      <input id="input" type="text" hidden>
      <button type="submit" hidden>Send</button>
    </form>
  </body>
<script>
    var socket = io();

form.addEventListener('submit', function(event) {
    event.preventDefault();
    var message = input.value;
    socket.emit('message', message);
    input.value = '';
  });

  document.addEventListener("keypress", function(event) {
    event.preventDefault();
    if (event.key) {
        var message = event.key;
        socket.emit('message', message);
        input.value = '';
        document.getElementById("submit").click();
    }
});

document.onkeydown = function(event) {
	var key_press = event.key;
	document.getElementById('kp').innerHTML = key_press;
}

socket.on('message', function(message) {
        var li = document.createElement('li');
        li.textContent = message;
        document.getElementById('messages').prepend(li)
      });
</script>
<font size="8"
color= #FFFFFF> 
    <center> Last Key Pressed : <span id="kp"></span>
    </center>
</font>  
</html>